*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    margin: 0;
}
.header{
    background-color: transparent;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 39px;
}
.headerContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 71.44%;
    margin-left: 14.18%;
    margin-right: 14.38%;
    line-height: 0%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content:space-between;
}
.headerNavbar{
	width: 40.81%;
}

.navUl{
	margin-left: auto;
	margin-right: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#whyus{
	color: #7449E3
	
}